---
---

//
// IMPORTS
//

@import "reset";
// Syntax highlighting @import is at the bottom of this file

//
// VARIABLES
//

// Colors

// Space colors
// $content: #fce5cd;
// $highlight_secondary: #ff9010;
// $highlight_main: #e7dd7f;
// $structure: #8bffff;
// $base_secondary:#1b5777;
// $base_main: #212131;

$content: #fce5cd;
$highlight_secondary: #ff9010;
$highlight_main: #fadb88;
$structure: #8bffff;
$base_secondary:#548ba8;
$base_main: #212131;
$background: #13131b;

// Font stacks
$normal: "Nunito", sans-serif;
$special: "Roboto", sans-serif;

$fontsize: 18px;

$normal-line-height: 1.6;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 740px) {
    @content;
  }
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: $fontsize $normal;
  line-height: $normal-line-height;
  color: $content;
  background-color: $background;
  text-align: justify;
}

body h1, body h2, body h3, body h4{
  text-align: left;}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 30px;
  width: 100%;
  border: 1px solid $structure;
  border-radius: 15px;
  background-color: $base_main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special;
  color: $highlight_main;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 28px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $structure;
}

p {
  margin: 15px 0;
}

a {
  color: $highlight_main;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  &:hover, &:active {
    color: $highlight_secondary
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $structure;
}

// Specify the color of the selection
::-moz-selection {
  color: $base_main;
  background: $highlight_main;
}
::selection {
  color: $base_main;
  background: $highlight_main
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  margin-bottom: 20px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $highlight_main;
  cursor: pointer;
  font-family: $special;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  
  @include mobile {
   text-align:center;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $content;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: top;
  margin-top: 0px; // @TODO: Vertically middle align
  font-family: $special;
  font-size: 18px;
  text-align:center;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $highlight_main;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

.language_select {
  float: right;
  margin-top: 10px; // @TODO: Vertically middle align
  font-family: $special;
  font-size: 18px;
  text-align: center;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
	float: none;
    margin-left: 20px;
    color: $highlight_main;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;

	}
  }
}

.masthead_lang_nav{
	float: right;
    margin-top: 10px;
    @include mobile {
      float:none;
    }

}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $structure;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $structure;
    padding: 0.1em 1em;
    color: $highlight_main;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 100px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    clear: both ; //because of floatng thumbnails
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.h3displayimg{
	display:inline;
	position:relative;
	height:30px;
	bottom:-10px;
}

.h3hideimg{
	display:none;
	position:relative;
	height:30px;
	bottom:-10px;
}

.inlinedisplayimg{
	display:inline;
	position:relative;
	height:18px;
	bottom:-3px;
}

.inlinehideimg{
	display:none;
	position:relative;
	height:18px;
	bottom:-3px;
}


/*    Footer ------------------------------------------------------------------------------------------*/
.svg-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
}

/*    Tagy ------------------------------------------------------------------------------------------*/

.tags {
  font-style: italic;
}

/*    Filter ------------------------------------------------------------------------------------------*/


/*    obrazky na strankach postov zarovnane na stred------------------------------------------------------------------------------------------*/
article img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*    skupiny obrazkov zarovnane na stred a vedla seba stred------------------------------------------------------------------------------------------*/
article .img-group {
  width: 100%;
  text-align: center;
  margin: auto;
}
article .img-group img {
  display:inline;
}
/*    thumbnaily------------------------------------------------------------------------------------------*/

.perex{
 white-space: nowrap;
 display: flex;
}

.excerpt{
 white-space: normal;
}

.thumbnail {
  margin:15px 10px;
  vertical-align:top;
  @include mobile {
   display:block;
   margin:auto;
  }
}

.thumbnail img {
  max-width: 200px;
}


.thumbnail + .excerpt{
  display:inline-block;
  vertical-align:top;

  @include mobile {
   display:block;
   margin:auto;
   max-width:none;
  }

}

/* definition lists --------------------------------------------------------------------*/

dt{
  //font-weight: bold;
  color:$structure;
}

dd{
  padding-left: 30px;
}

/* buttons --------------------------------------------------------------------*/
button {
    background-color: $highlight_main;
    border: none;
    color: $base_main;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*    collapsible class ------------------------------------------------------------------------------------------*/

.collaps_checkbox {
  display: none
}

.collaps_checkbox:checked ~ .collapsible {
  display: inline;
}

.collapsible {
  display: none;

}

span.collapsible {
  display: none;
  background-color: $base_secondary;
 }

.collaps_button_checked {
  display: none;
  height: 16px;
}

.collaps_button_unchecked {
  display: inline;
  height: 16px;
}

.collaps_checkbox:checked ~ .collaps_button_checked {
  display: inline;
}

.collaps_checkbox:checked ~ .collaps_button_unchecked {
  display: none;
}

@import "lightslider";

/*uncomment to turn all borders on*/
/*
html * {
  border: solid;
  border-color: $gray;
  border-width: 1px;
}
*/

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

