    <meta charset="utf-8" >
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="{{ site.name }}" >




    {% if page.title %}
        <meta property="og:title" content='{{ page.title }}' >
        <meta property="title" content='{{ page.title }}' >
        {% if page.excerpt %}
            <meta name="description" content='{{ page.excerpt| strip_html }}' >
            <meta property="og:description" content='{{ page.excerpt| strip_html }}' >
        {% endif %}
    {% else %}
    <meta propert="og:title" content="{{site.title}}">
    <meta propert="title" content="{{site.title}}">
    {% endif %}

    
    {% if page.thumbnail %}
    <meta name="image" content="/{{ page.thumbnail| strip_html }}" >
    <meta property="og:image" content="/{{ page.thumbnail|}}" >
    {% else %}
    <meta name="image" content="{{site.avatar}}">
    <meta name="og:image" content="{{site.avatar}}">
    {%endif%}
